.div {
	width: 400px;
	margin: 50px auto;
	text-align: center;
	position: relative;
}

.form {
    background: transparent;
	border: 0 none;
	border-radius: 3px;
	box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
	padding: 20px 30px;
	box-sizing: border-box;
	width: 80%;
	margin: 0 10%;
}

.title {
	font-size: 15px;
	text-transform: uppercase;
	margin-bottom: 10px;
}


.input {
	padding: 15px;
	border: 1px solid #ccc;
	margin-bottom: 25px;
	width: 100%;
	box-sizing: border-box;
	color: #2C3E50;
	font-size: 13px;
}

.button {
	width: 100px;
	background: #27AE60;
	font-weight: bold;
	color: white;
	border: 0 none;
	border-radius: 1px;
	cursor: pointer;
	padding: 10px;
	margin: 10px 5px;
  text-decoration: none;
  font-size: 14px;
}

.button:hover, .button:focus {
	box-shadow: 0 0 0 2px white, 0 0 0 3px #27AE60;
}